<%= simple_form_for admin_article do |f| %>
  <div class="form-group mt-xs-20">
    <%= f.input :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :permalink, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :content, as: :ckeditor %>
  </div>
  <%= f.simple_fields_for :image do |i| %>
    <div class="form-group">
      <%= i.input :src, input_html: {class: 'dropify'} %>
      <%= i.input :alt %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.button :submit, class: 'form-control' %>
  </div>
<% end %>
