<div id="profile" class="my-xs-20 my-sm-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 mt-xs-20 mt-sm-40">
        <%= image_tag @picture, alt: 'DC', class: 'col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 profile-pic' %>  
        <div class="clear mt-xs-20 mt-sm-30">
        <h2 class="text-center mt-xs-20"><%= @name %></h2>
        <h3 class="text-center mb-xs-20"><%= @email %></h3>
          <div class="summary-wrapper pt-xs-20">
            <%= @summary %>
          </div>
        </div>
      </div>
      <div class="clear col-sm-10 col-sm-offset-1">
        <h2 class="text-center">Latest Articles</h2>
        <ul class="article-list">
        <% @articles.each do |article| %>
          <li class="overflow-auto py-xs-20">
            <article class="article-list-item">
              <%= link_to article_path(article.permalink) do %>
              <h3 class="pull-left"><%= article.title %></h3>
              <% end %>
              <span class="pull-right"><%= article.created_at.to_date %></span>
            </article>
          </li>
        <% end %>
        </ul>
        <h2 class="text-center mt-sm-40">Works</h2>
        <% @portfolios.each do |port| %>
        <div class="col-sm-6 py-xs-15">
          <%= link_to portfolio_path(port.permalink) do %>
            <%= image_tag port.image.src.url, alt: port.image.alt %>
            <p><%= port.portfolio_type %></p>
            <h3><%= port.title %></h3>
          <% end %>
        </div>
        <% end %>
        <%= link_to 'See All', portfolios_path, class: 'btn btn-default form-control flat mt-sm-40' %>
      </div>
    </div>
  </div>
</div>