<%= simple_form_for admin_portfolio do |f| %>
  <div class="form-group mt-xs-20">
    <%= f.input :title %>
  </div>
  <div class="form-group">
    <%= f.input :portfolio_type %>
  </div>
  <div class="form-group">
    <%= f.input :description %>
  </div>
  <%= f.simple_fields_for :image do |i| %>
  <div class="form-group">
    <%= i.input :src, input_html: {'data-default-file': admin_portfolio.image.src.url, class: 'dropify'} %>
    <%= i.input :alt %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.input :repo %>
  </div>
  <div class="form-group">
    <%= f.input :permalink %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= link_to "Cancel", admin_portfolios_path, class: "btn btn-default form-control"%>
  </div>
<% end %>