<%= link_to "Add Portfolio", new_admin_portfolio_path, class: "btn btn-default my-xs-20 form-control"%>

<table class="table xs-transform mt-sm-40">
  <thead class="hidden-xs">
    <tr>
      <td class="col-sm-1">Date</td>
      <td class="col-sm-2">Image</td>
      <td class="col-sm-3">Type</td>
      <td class="col-sm-4">Title</td>
    </tr>
  </thead>
  <tbody>
    <% @admin_portfolios.each do |port|%>
    <tr>
      <td class="col-sm-1"><%= port.created_at.to_date %></td>
      <td class="col-sm-2"><%= admin_index_image port %></td>
      <td class="col-sm-3"><%= port.portfolio_type %></td>
      <td class="col-sm-4"><%= port.title %></td>
      <td class="col-sm-2 text-center">
        <%= link_to edit_admin_portfolio_path(port), class: "btn btn-default" do %>
          <i class="fa fa-bolt fa-fw"></i>
        <% end %>
        <%= link_to "https://github.com/DC7806/#{port.repo}", target: '_blank', class: "btn btn-default" do %>
          <i class="fa fa-github fa-fw"></i>
        <% end %>
        <%= link_to admin_portfolio_path(port), method: "delete", data: { confirm: "Sure?" }, class: "btn btn-default" do%>
          <i class="fa fa-bomb fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @admin_portfolios %>