<div class="container my-sm-40">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Edit Password</h2>
        </div>
        <div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
  
            <%= f.input :reset_password_token, as: :hidden %>
            <%= f.full_error :reset_password_token %>
  
            <div class="form-group">
              <%= f.input :password, label: false, required: true, autofocus: true, placeholder: 'New Password',input_html: { class: 'form-control mb-xs-15' } %>
              <%= f.input :password_confirmation, label: false, required: true, input_html: { class: 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.button :submit, class: 'btn btn-default form-control' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>    
  </div>
</div>