<!DOCTYPE html>
<html>
  <head>
    <title>Dc</title>
    <%= meta_desc_tag @meta_desc %>
    <link rel="canonical" href="<%= request.url %>" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots"   content="all" />
    <%= og_tag @og %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="main-content-wrapper pt-xs-50 pt-sm-70">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
