<!DOCTYPE html>
<html>
  <head>
    <%= page_title @site_name, @title %>
    <%= meta_desc_tag @meta_desc %>
    <meta name="google-site-verification" content="pnWd8M9z7Mny1X47GtA49DF4bdRN1u9mxhUdMoZtWgY" />
    <link rel="canonical" href="<%= request.url %>" />
    <link rel="icon"      href="<%= @favicon %>" type="image/jpg"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots"   content="all" />
    <%= og_tag @og %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
    <%#= tracking_tags @gtm_id, @ga_id %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= @ga_id %>"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= @ga_id %>');
    </script>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="main-content-wrapper pt-xs-50">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>